.expenses {
    padding: 1rem;
    background-color: #4A55A2;
    margin: 2rem auto;
    width: 50rem;
    max-width: 95%;
  }
  #label__no-record{
    margin-top: 50px;
    color: white;
    background-color: #363e77;
    display: inline-block;
    border-radius: 100px;
    padding: 4px 15px;

  }